#node-810 {padding-bottom:20px; border-bottom:1px solid #988567; margin:0 0 20px 0; overflow:auto;}
#node-810 h2 {display:inline; line-height:28px; }
#node-810 img {margin:0 15px 15px 0; float:left; }
#node-810 p {font-size: 16px; margin:10px 0;}
#node-810 .meta {display:none;}


#frontpgtabs {margin-top:25px;}
#frontpgtabs .block {float:left; width:320px; padding:0 15px; }
#frontpgtabs .block img {float:left; margin:0 10px 10px 0; padding:3px; border:1px solid #988567;}
#frontpgtabs .block p {}
#frontpgtabs .morelink {float:right; margin:10px 0 0;}

#block-views-Recordings-block_1 {padding-right:20px; border-right:1px solid #988567; border-right:1px solid #988567; margin-right:20px;}

#featuredperson {}